<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity android:name="top.uwu.mikubox.NetworkProbeActivity" android:exported="true" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
